.segment {
  background-color: #e0f4ff;
  padding: 80px 0;
  color: #000000;
  font-weight: bold;
}
.segment .sp-only {
  display: none;
}
@media (max-width: 992px) {
  .segment .sp-only {
    display: block;
  }
}
.segment .pc-only {
  display: block;
}
@media (max-width: 992px) {
  .segment .pc-only {
    display: none;
  }
}
.segment .segment__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
}
.segment .segment__inner .segment__content {
  padding: 30px 0;
  border-radius: 10px;
  background-color: #ffffff;
}
.segment .segment__inner .segment__content .segmemt__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 54px;
  color: #133979;
  text-align: center;
}
@media (max-width: 992px) {
  .segment .segment__inner .segment__content .segmemt__title {
    font-size: 25px;
    line-height: 43px;
  }
}
.segment .segment__inner .segment__content .segment__list .segment__item {
  max-width: 100%;
  width: 425px;
  margin: 20px auto;
  display: flex;
  color: #133979;
  line-height: 18px;
  font-size: 15px;
}
@media (max-width: 992px) {
  .segment .segment__inner .segment__content .segment__list .segment__item {
    margin: 5px auto;
  }
}
.segment .segment__inner .segment__content .segment__list .segment__item .prop {
  background-color: #e0f4ff;
  color: #133979;
  padding: 5px 0;
  border-radius: 12px;
  font-size: 16px;
  text-align: center;
  flex: 1;
  width: 65px;
  width: 125px;
}
@media (max-width: 992px) {
  .segment .segment__inner .segment__content .segment__list .segment__item .prop {
    line-height: 26px;
    width: 65px;
    background-color: #ffffff;
  }
}
.segment .segment__inner .segment__content .segment__list .segment__item .value {
  color: #000000;
  padding: 5px 0;
  font-size: 15px;
  margin-left: 10px;
  flex: 2;
}
@media (max-width: 992px) {
  .segment .segment__inner .segment__content .segment__list .segment__item .value {
    line-height: 26px;
    font-size: 15px;
    overflow-wrap: break-word;
    max-width: 100%;
  }
}
.segment .segment__inner .segment__content .segment__cation {
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.segment .segment__inner .price__wrap {
  margin-top: 50px;
  font-weight: bold;
}
.segment .segment__inner .price__wrap .price__text .price__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 54px;
  text-align: center;
  color: #133979;
}
@media (max-width: 992px) {
  .segment .segment__inner .price__wrap .price__text .price__title {
    font-size: 25px;
    line-height: 43px;
  }
}
.segment .segment__inner .price__wrap .price__text .price__desc {
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  width: 290px;
  padding: 15px 0;
  margin-top: 25px;
}
.segment .segment__inner .price__wrap .price__content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@media (max-width: 992px) {
  .segment .segment__inner .price__wrap .price__content {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
}
.segment .segment__inner .price__wrap .price__content .price__content__left {
  width: 100%;
  max-width: 330px;
  text-align-last: left;
  padding-left: 10px;
  padding-top: 5px;
  color: #133979;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item {
  margin-top: 15px;
  position: relative;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item .price__item__subtitile {
  font-size: 19px;
  line-height: 32px;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item .price__item__subtitile::before {
  position: absolute;
  left: -10px;
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #ffffff;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: middle;
  font-size: 19px;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item .price__item__works {
  margin-top: 15px;
  display: flex;
  font-size: 15px;
  line-height: 26px;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item .price__item__works .line {
  width: 1px;
  height: 75px;
  border-left: 1px dotted #000;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item .price__item__works .price {
  color: #000000;
  padding-left: 10px;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item .month__caution {
  color: #000000;
  margin-top: 15px;
  font-size: 13px;
}
.segment .segment__inner .price__wrap .price__content .price__content__left .price__item .white__line {
  margin: 20px auto;
  height: 1px;
  width: 300px;
  border-bottom: 2px solid #fff;
}
.segment .segment__inner .price__wrap .price__content .price__content__right {
  margin-top: 50px;
  background-color: #ffffff;
  width: 100%;
  max-width: 330px;
  padding: 20px 0;
}
.segment .segment__inner .price__wrap .price__content .price__content__right__inner {
  width: 100%;
  margin: 0 auto;
  width: 90%;
}
.segment .segment__inner .price__wrap .price__content .price__content__right__inner .right__title {
  text-align: center;
  color: #133979;
}
.segment .segment__inner .price__wrap .price__content .price__content__right__inner .right__caution {
  color: #000000;
  font-size: 13px;
  margin-top: 10px;
}
.segment .segment__inner .price__wrap .price__content .price__content__right__inner ul {
  padding-top: 20px;
  padding-left: 50px;
}
.segment .segment__inner .price__wrap .price__content .price__content__right__inner ul li {
  padding: 3px;
}

/*# sourceMappingURL=segment.css.map */
