@charset "UTF-8";
.util {
  margin: 500px 0;
}
.util .sp-only {
  display: none;
}
@media (max-width: 992px) {
  .util .sp-only {
    display: block;
  }
}
.util .pc-only {
  display: block;
}
@media (max-width: 992px) {
  .util .pc-only {
    display: none;
  }
}
.util .util__inner {
  background-color: #cdf5f6;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.util .util__inner .util__text {
  margin: 0 auto;
  font-weight: bold;
  background-color: #cbe4f9;
}
.util .util__inner .util__text .util__title {
  text-align: center;
  font-size: 32px;
  line-height: 54px;
  color: #133979;
  background-color: #eff9da;
}
@media (max-width: 992px) {
  .util .util__inner .util__text .util__title {
    font-size: 25px;
    line-height: 43px;
  }
}
.util .util__inner .util__text .util_desc {
  padding-top: 25px;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  background-color: #f9ebdf;
}
@media (max-width: 992px) {
  .util .util__inner .util__text .util_desc {
    padding: 0 10px;
  }
}
.util .util__inner .util__list {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  column-gap: 35px;
  background-color: #f9d8d6;
}
@media (max-width: 992px) {
  .util .util__inner .util__list {
    height: 360px;
    flex-direction: column;
    padding-top: 25px;
  }
}
.util .util__inner .util__list .util__item {
  background-color: #d6cdea;
  width: 100%;
  max-width: 295px;
}
@media (max-width: 992px) {
  .util .util__inner .util__list .util__item {
    margin: 0 auto;
  }
}
.util .util__inner .util__list .util__item img {
  width: 100%;
  max-width: 295px;
  margin: 0 auto;
}
.util .util__inner .util__list .util__item .util__item__text {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
.util .util__inner .util__list .util__item .util__item__text .util {
  margin: 500px 0;
}
.util .util__inner .util__list .util__item .util__item__text .util .sp-only {
  display: none;
}
@media (max-width: 992px) {
  .util .util__inner .util__list .util__item .util__item__text .util .sp-only {
    display: block;
  }
}
@media (max-width: 992px) {
  .util .util__inner .util__list .util__item .util__item__text {
    line-height: 27px;
  }
}
.util .util__inner .util__list .line {
  width: 1px;
  height: 200px;
  border-left: 1px dotted #000;
}
.util .util__inner .util__ince {
  position: relative;
  background-color: #f9ebdf;
  width: 100%; /* 親要素の幅を設定 */
}
@media (max-width: 992px) {
  .util .util__inner .util__ince {
    padding-top: 15px;
  }
}
.util .util__inner .util__ince .util__arrow {
  padding-top: 25px;
  background-color: #eff9da;
  top: 30px;
  height: 50px;
  width: 100%;
}
.util .util__inner .util__ince .util__arrow::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid #e0f4ff;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
}
.util .util__inner .util__ince__item {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  text-align: center;
  background-color: #e0f4ff;
  font-size: 18px;
  font-weight: bold;
  line-height: 31px;
  height: 90px;
  color: #dc692a;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=util.css.map */
