@import "./variables";

.feature {
  padding-top: 85px;
  padding-bottom: 100px;
  font-weight: bold;

  .sp-only {
    display: none;
    @media (max-width: $breakpoint-lg) {
      display: block;
    }
  }
  .pc-only {
    display: block;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }

  .feature__text {
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    .feature__title {
      font-size: 32px;
      line-height: 54px;
      color: $blue;
      font-size: 38px;
    }

    .feature__description {
      font-size: 14px;
      line-height: 26px;
      padding-bottom: 60px;
    }
  }
  .feature__list {
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    background-color: $sky_blue;
    z-index: -1;
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    color: $blue;
    position: relative;
    flex-wrap: wrap;

    .feature__list__item {
      width: 290px;
      margin: 0 auto;
      position: relative;
      padding: 20px 0;
      gap: 50px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 90px;
        width: 100px;
        background-repeat: no-repeat;
        z-index: -1;
      }
    }

    //画像の配置
    .item_01 {
      &::before {
        background-image: url("../img/features-box-image01.png");
      }
    }
    .item_02 {
      &::before {
        background-image: url("../img/features-box-image02.png");
      }
    }
    .item_03 {
      &::before {
        background-image: url("../img/features-box-image03.png");
      }
    }

    .feature__list__title {
      font-size: 19px;
      position: relative;
      z-index: 1;
      &::before {
        z-index: -1;
        position: absolute;
        left: -10px;
        content: "";
        display: inline-block;
        height: 2px;
        background-color: $white;
        margin-right: 5px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 5px;
        vertical-align: middle;
        font-size: 19px;
      }
      span {
        font-size: 38px;
        line-height: 38px;
      }
    }
    .feature__list__subtitle {
      padding-top: 10px;
      font-size: 19px;
      line-height: 32px;
    }

    .feature__list__description {
      position: relative;
      color: $black;
      padding-left: 30px;
      padding-top: 10px;
      line-height: 26px;
      &::before {
        content: "";
        width: 25px;
        height: 25px;
        left: 0px;
        position: absolute;
        content: "";
        background-image: url("../img/features-box-image04.png");
        background-image: no-repeat;
        background-size: cover;
      }
    }
  }
}
