@import "./variables";

header {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  .header__inner {
    height: 90px;
    @media (max-width: $breakpoint-lg) {
      height: 60px;
    }
    justify-content: space-between;
    display: flex;
    align-items: center;

    .header__logo {
      img {
        width: 192px;
      }
    }

    //プライバシーポリシーのスタイル
    .header__item__privacy {
      display: none;
    }

    @media (max-width: $breakpoint-lg) {
      .header__item__privacy {
        display: block;
      }
    }

    /* spのスタイル */
    .header__list {
      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
        margin-top: 60px;
        padding: 0px;
        height: 100vh;
      }
      display: flex;
      // justify-content: space-between;

      a {
        text-decoration: none;
      }

      .header__item {
        list-style: none;
        margin-right: 50px;
        padding: 15px 0px;
        @media (max-width: $breakpoint-lg) {
          padding: 0px;

          &:nth-child(1) {
            margin-top: 75px;
          }
        }

        .header__link {
          font-size: 13px;
          text-decoration: none;
          list-style: none;
          color: #000;
          font-weight: bold;

          @media (max-width: $breakpoint-lg) {
            color: white;
            margin: 10px 0;
            font-size: 15px;
          }
        }
      }

      .header__item__info {
        margin-right: 0;
        .header__link {
          color: #fff;
          background-color: $blue;
          border-radius: 7px;
          padding: 15px 40px;
          @media (max-width: $breakpoint-lg) {
            color: $black;
            padding: 20px 0;
            max-width: 400px;
            width: 80%;
            margin: 0 auto 30px;
            background: $white;
          }
        }
      }
    }

    //ハンバーガーメニューのスタイル
    @media (min-width: $breakpoint-lg) {
      .hamburger {
        display: none;
      }
    }
    @media (max-width: $breakpoint-lg) {
      .hamburger {
        color: $white;
        background: $blue;
        display: block;
        position: fixed;
        z-index: 3;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        cursor: pointer;
        text-align: center;

        span {
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          left: 6px;
          background: $white;
          transition: 0.3s ease-in-out;

          &:nth-child(1) {
            top: 17.5px;
            left: 15px;
          }
          &:nth-child(2) {
            top: 27.5px;
            left: 15px;
          }
          &:nth-child(3) {
            top: 37.5px;
            left: 15px;
          }
        }

        &.active span:nth-child(1) {
          top: 27.5px;
          background: #fff;
          transform: rotate(-45deg);
          left: 15px;
        }

        &.active span:nth-child(2),
        &.active span:nth-child(3) {
          top: 27.5px;
          background: #fff;
          transform: rotate(45deg);
          left: 15px;
        }
      }

      //ハンバーガーメニューのスタイル
      .globalMenuSp {
        position: fixed;
        z-index: 2;
        top: 60px;
        left: 0;
        opacity: 0;
        background: $blue;
        text-align: center;
        width: 100%;
        transition: opacity 0.6s ease, visibility 0.6s ease;

        .line {
          width: 80%;
          max-width: 400px;
          height: 1px;
          margin: 20px auto;
          background-color: #fff;
        }
        ul {
          margin: 0 auto;
          padding: 0;
          width: 100%;
        }

        ul li {
          list-style-type: none;
          padding: 0;
          width: 100%;
          transition: 0.4s all;

          a {
            display: block;
            color: #fff;
            padding: 1em 0;
            text-decoration: none;
          }
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }
}
