@import "./variables";

.segment {
  background-color: $sky_blue;
  .sp-only {
    display: none;
    @media (max-width: $breakpoint-lg) {
      display: block;
    }
  }
  .pc-only {
    display: block;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  color: $black;
  padding: 500px 0;
  font-weight: bold;

  .segment__inner {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
    .segment__content {
      padding: 30px 0;
      border-radius: 10px;
      background-color: $white;
      .segmemt__title {
        font-size: 32px;
        font-weight: bold;
        line-height: 54px;
        color: $blue;
        text-align: center;
        @media (max-width: $breakpoint-lg) {
          font-size: 25px;
          line-height: 43px;
        }
      }
      .segment__list {
        .segment__item {
          max-width: 100%;
          width: 425px;
          margin: 20px auto;
          display: flex;
          color: $blue;
          line-height: 18px;
          font-size: 15px;
          @media (max-width: $breakpoint-lg) {
            margin: 5px auto;
          }
          .prop {
            background-color: $sky_blue;
            color: $blue;
            padding: 5px 0;
            border-radius: 12px;
            font-size: 16px;
            text-align: center;
            flex: 1;
            width: 65px;
            width: 125px;
            @media (max-width: $breakpoint-lg) {
              width: 65px;
              background-color: $white;
            }
          }
          .value {
            color: $black;
            padding: 5px 0;
            font-size: 15px;
            margin-left: 10px;
            flex: 2;
            @media (max-width: $breakpoint-lg) {
              line-height: 26px;
              font-size: 15px;
              overflow-wrap: break-word;
              max-width: 100%;
            }
          }
        }
      }
      .segment__cation {
        width: 90%;
        margin: 0 auto;
        max-width: 700px;
        font-size: 13px;
        line-height: 22px;
        color: $black;
        // background-color: $blue-pale;
      }
    }

    .price {
      .price__text {
        .price__title {
          font-size: 32px;
          font-weight: bold;
          line-height: 54px;
          text-align: center;
          color: $blue;
          background-color: $blue-pale;
          @media (max-width: $breakpoint-lg) {
            font-size: 25px;
            line-height: 43px;
          }
        }
        .price__desc {
          text-align: center;
          margin: 0 auto;
          background-color: $green-pale;
          font-size: 13px;
          line-height: 13px;
          width: 290px;
          padding: 15px 0;
          margin-top: 25px;
        }
      }

      .price__content {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .price__content__left {
          width: 100%;
          max-width: 330px;
          text-align-last: left;
          color: $blue;
          background-color: $orange-pale;
          .price__item {
            margin-top: 15px;
            .price__item__subtitile {
              font-size: 19px;
              line-height: 32px;
            }
            .price__item__works {
              display: flex;
              font-size: 15px;
              line-height: 26px;
              .month {
              }
              .line {
                width: 1px;
                height: 75px;
                border-left: 1px dotted #000;
              }
              .price {
                color: $black;
              }
            }
            .month__caution {
              color: $black;
            }
          }
        }

        .price__content__right {
          background-color: $red-pale;
        }
      }
    }
  }
}
