@import "./variables";

.util {
  .sp-only {
    display: none;
    @media (max-width: $breakpoint-lg) {
      display: block;
    }
  }
  .pc-only {
    display: block;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  .util__inner {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    .util__text {
      margin: 0 auto;
      font-weight: bold;
      .util__title {
        text-align: center;
        font-size: 32px;
        line-height: 54px;
        color: $blue;
        @media (max-width: $breakpoint-lg) {
          font-size: 25px;
          line-height: 43px;
        }
      }
      .util__desc {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 25px;
        font-size: 15px;
        line-height: 26px;
        color: $black;
        @media (max-width: $breakpoint-lg) {
          padding: 0 10px;
        }
      }
    }

    .util__list {
      padding-top: 35px;
      display: flex;
      justify-content: center;
      column-gap: 35px;
      @media (max-width: $breakpoint-lg) {
        height: 360px;
        flex-direction: column;
        padding-top: 25px;
      }
      .util__item {
        width: 100%;
        max-width: 295px;
        @media (max-width: $breakpoint-lg) {
          margin: 0 auto;
        }
        img {
          width: 100%;
          max-width: 295px;
          margin: 0 auto;
        }
        .util__item__text {
          @import "./variables";

          .util {
            .sp-only {
              display: none;
              @media (max-width: $breakpoint-lg) {
                display: block;
              }
            }
            margin: 500px 0;
          }
          text-align: center;
          font-size: 16px;
          line-height: 18px;
          font-weight: bold;
          @media (max-width: $breakpoint-lg) {
            line-height: 27px;
          }
        }
      }

      .line {
        width: 1px;
        height: 200px;
        border-left: 1px dotted #000;
        @media (max-width: $breakpoint-lg) {
          margin: 15px auto;
          height: 1px;
          width: 300px;
          border-bottom: 1px dotted #000;
        }
      }
    }
    .util__ince {
      position: relative;
      width: 100%; /* 親要素の幅を設定 */
      @media (max-width: $breakpoint-lg) {
        padding-top: 15px;
      }

      .util__arrow {
        padding-top: 25px;
        top: 30px;
        height: 50px;
        width: 100%;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-top: 20px solid $sky_blue;
          border-left: 120px solid transparent;
          border-right: 120px solid transparent;
        }
      }
    }
    .util__ince__item {
      margin: 0 auto;
      width: 100%;
      max-width: 700px;
      text-align: center;
      background-color: $sky_blue;
      font-size: 18px;
      font-weight: bold;
      line-height: 31px;
      height: 90px;
      color: $orange;

      //上下中央
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
