footer {
  background-color: #f8f9fa;
  height: 60px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 1em;
  color: #333;
}